<?xml version="1.0"?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ReconciliationClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <section name="ReconciliationClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReconciliationClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="Log"/>
      <appender-ref ref="Error"/>
    </root>

    <appender name="Error" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Gargoyle Strategic Investments\ReconciliationClient\Reconciliation_Error.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="conversionPattern" value="%d{yyyyMMdd:HHmmss.fffff} [%t] %-5p %c %x - %m%n"/>
      </layout>
    </appender>

    <appender name="Log" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Gargoyle Strategic Investments\ReconciliationClient\Reconciliation_Info.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="conversionPattern" value="%d{yyyyMMdd:HHmmss.fffff} [%t] %-5p %c %x - %m%n"/>
      </layout>
    </appender>
  </log4net>
  
  <userSettings>
        <ReconciliationClient.Properties.Settings>
              <setting name="PositionFileName" serializeAs="String">
                    <value>WSB820TT.CST138PO.CSV</value>
              </setting>
              <setting name="ConfirmationFileName" serializeAs="String">
                    <value>WSB821TT.CST138TR.CSV</value>
              </setting>
              <setting name="ImportDirectory" serializeAs="String">
                    <value>\\gargoyle-mw05\downloads</value>
              </setting>
              <setting name="TraderName" serializeAs="String">
                    <value>JNikolova</value>
              </setting>
              <setting name="BookkeepingFileName" serializeAs="String">
                    <value>WSB822TT.CST138BK.CSV</value>
              </setting>
              <setting name="MailFrom" serializeAs="String">
                    <value>jnikolova@gargoylestrategic.com</value>
              </setting>
              <setting name="MailTo" serializeAs="String">
                    <value>MLAMEXBREAKS@win.ml.com,jnikolova@gargoylestrategic.com</value>
              </setting>
              <setting name="MailSubject" serializeAs="String">
                    <value>Gargoyle corrections</value>
              </setting>
              <setting name="ReportsDirectory" serializeAs="String">
                    <value>c:\temp</value>
              </setting>
              <setting name="UpgradeSettings" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="AssignmentsFileName" serializeAs="String">
                    <value>WST423TM.CST13ASG.CSV</value>
              </setting>
              <setting name="SendReportToTraders" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="DebugMode" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="ConsolidateStocks" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="ConsolidateOptions" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="TaxlotsFileName" serializeAs="String">
                    <value>POTL_05212012.POTL</value>
              </setting>
              <setting name="LiquidConnectionString" serializeAs="String">
                    <value>server=172.20.151.21;userid=gargoyle;password=3CoNeOTo;database=gargoyle</value>
              </setting>
              <setting name="DividendsFileName" serializeAs="String">
                    <value>F1957488.Corporate_Actions.20180426.csv</value>
              </setting>
        </ReconciliationClient.Properties.Settings>
    </userSettings>
  <applicationSettings>
    <ReconciliationClient.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>ReconciliationClient</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Hugo</value>
      </setting>
    </ReconciliationClient.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\temp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
